{
	"presets": [
		["next/babel"],
		[
			"@babel/preset-react",
			{
				"runtime": "automatic"
			}
		],
		"@babel/preset-typescript"
	],
	"plugins": [
		"macros",
		["babel-plugin-twin", { "debug": true }],
		"babel-plugin-macros",

		["babel-plugin-styled-components", { "ssr": true }]
	]
}
